


body{height: 1500px;  margin: 0%;  background-color: blue;} 



/* parte inicial do projeto*/

.imgP{width: 50%; height: 50%; margin-top: 15px;} 

.text{width: 50%;  display: flex;  flex-direction: column; align-items: center; justify-items: center; margin-top: 15%;}

.btnCurriculo{width: 250px; align-items:center; height: 60px; background-color: blue; color: white; display: flex; justify-content: center;}

.btnlinkedin:hover{text-orientation:sideways ; background-color: black; border:  2px red solid; transition: transform 0.5s ease-in-out ;}


.cardONe{margin: 15px; }

.cardONe p {display: none;}






h1{text-align: center;}




/*  cards do projeto */

    
    .wrapper {
      display: flex;
      width: 90%;
      justify-content: space-around;
    }
    
    .card {
      width: 280px;
      height: 200px;
      border-radius: 15px;
      padding: 1.5rem;
      position: relative;
      display: flex;
      align-items: center;
      transition: 0.4s ease-out;
      box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
      background-color: black;
    }
    .card:hover {
      transform: translateY(20px);
    }
    .card:hover:before {
      opacity: 1;
    }
    .card:hover .info {
      opacity: 1;
      transform: translateY(0px);
      background-color: rgba(0, 0, 0, 0.010);
    }
    .card:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 2;
      transition: 0.5s;
      opacity: 0;
    }
    .card img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 15px;
    }
    .card .info {
      position: relative;
      z-index: 3;
      color: white;
      opacity: 0;
      transform: translateY(30px);
      transition: 0.5s;
    }
    .card .info h1 {
      margin: 0px;
    }
    .card .info p {
      letter-spacing: 1px;
      font-size: 15px;
      margin-top: 8px;
    }
    .card .info button {
      padding: 0.6rem;
      outline: none;
      border: none;
      border-radius: 3px;
      color: black;
      font-weight: bold;
      cursor: pointer;
      transition: 0.4s ease;
    }
    .card .info button:hover {
      
      color: white;
    }

/* ----------- começo de container e configuração de card               */

.containerprojetos{background-color: black}/* container dos projetos */

    #cardone, #cardtwo{ margin: auto;   justify-content: space-around; width: 100%;}

    .card{margin: 15px;}

    #cardtwo{margin-top: 15px;}
    /*habilidades cards*/
    .containerhabilidade{ display: flex; flex-direction: column;   text-align: center; align-items: center; background: radial-gradient(circle, rgba(16,14,46,1) 6%, rgba(0,212,255,1) 7%, rgba(35,35,210,1) 48%, rgba(2,0,36,1) 100%);}

    .cardsHabi{display: flex;} 
    #habilidades{margin-top: 100px}

    .container{margin-top: 15px; display: flex; width: 100%; height: 50%; } 