*{
    margin: 0;
    padding: 0;
}

.nav-container{
    display: flex;
    justify-content: space-around;
}

.nav-container a{ text-decoration: none;}

.nav-container li{list-style: none;margin-left: 15px;}

.nav-container ul{  display: flex; } 
    

